apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: granite-model-project
    openshift.io/requester: admin
  name: granite-model-project