apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: summit-project-{{ bootstrap_user_name_base }}{{ index }}
    openshift.io/requester: {{ bootstrap_user_name_base }}{{ index }}
  name: summit-project-{{ bootstrap_user_name_base }}{{ index }}