kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: summit-project-{{ bootstrap_user_name_base }}{{ index }}-edit
  namespace: summit-project-{{ bootstrap_user_name_base }}{{ index }}
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: {{ bootstrap_user_name_base }}{{ index }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit