kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ bootstrap_user_name_base }}{{ index }}-lb1942-edit
  namespace: {{ bootstrap_user_name_base }}{{ index }}-lb1942
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: {{ bootstrap_user_name_base }}{{ index }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit